body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  font-family: Arial, sans-serif;
  color: white;
}


.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.timer-container {
  font-size: 7rem;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (min-height: 200px) and (max-height: 400px) {
  .timer-container {
    font-size: 5rem;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

@media (min-height: 401px) and (max-height: 450px) {
  .timer-container {
    font-size: 6rem;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.timer-rotated {
  transform: rotate(0.5turn);
}

.warning {
  color: rgb(173, 14, 14);
}

.buttons {
  display: flex;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #282c34;
  transition: background-color 0.3s;
}

.btn-reset {
  background-color: #8dbecc;
}

.btn-vote {
  background-color: #61dafb;
}

.btn-pres {
  background-color: #3f8ca1;;
}

.game-action-buttons {
  display: flex;
  flex-direction: column;
}


.buttons button:hover {
  background-color: #21a1f1;
}

.settings-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.settings-button:hover {
  background-color: #21a1f1;
}

.settings-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #444;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 100;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group input {
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
}

.save-button {
  padding: 10px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.save-button:hover {
  background-color: #21a1f1;
}
